<p>
  <strong>Product:</strong>
  <%= @request.product %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @request.amount %>
</p>

<p>
  <strong>Intention:</strong>
  <%= @request.intention %>
</p>

<p>
  <strong>Time:</strong>
  <%= @request.time %>
</p>

<%= link_to 'Back', requests_path %>
